/*
 Name: Casey Meurer
 Coding 02
 Purpose: Mobile first CSS page
 */

/*
 * your standard (i.e. mobile) css here
 */
body{
    background-color: #F7F5E6;
    color: #A5A5AF;
}


textarea{

    border-radius: 5px;
    font-size: 16px;
    font-family: Arial;
}

input{

    border-radius: 5px;
    font-size: 16px;
    font-family: Arial;
}

p{
    font-family: Helvetica;
    font-size: 16px;
}

a:link{
    color: #015249;
}

a:visited{
    color: #015249;
}

nav{
    background-color: #e3f2fd;
}

.form-input{

    text-align: center;
}

.input-div{
    margin-bottom: 10px;
}

.form-container{
    text-align: center;
    margin: 20px auto;
    /*width: 100%; */
}

#msg{
    color: red;
}

@media (min-width: 600px) {
    /*
     * your desktop css here
    */
    p {
        text-align: left;
        font-size: 1.618em;
    }


}





